html {
    background: url("https://i.imgur.com/sBYwZPI.jpg")no-repeat center center fixed ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#id {
		
		text-align:center;
	}
	
#id1 {		
		border-bottom: 3px solid black;
			 

	}
.pad{
		padding-top:50px;
		padding-left:50px;
		padding-right:50px;
		padding-bottom:350px;
}	
	
ul {
		list-style-type: none;
    }

* {
 font-size: 110%;
 font-family: Helvetica;
 color: #001f3f;
}

/*Need to look at the lines it leaves between paragraphs. Thing grey lines which is weird*/
/*p {
	background-color:#000000 <div style="background-color:#cccccc; text-align:left; 
	vertical-align: middle; padding:20px 47px;"> Example </div>; text-align:left; vertical-align: middle;
	padding:1px 1px;"

}/*